*.log
*.pot
*.pyc
__pycache__/
local_settings.py

.DS_Store

.idea/*

*.sqlite3
dump.rdb

### sublime ###
*.sublime-project
*.sublime-workspace

### vscode ###
.vscode/

### sass ###
*.sass-cache
.runsass

### nodejs ###
node_modules
npm-debug.log
npm-debug.log.*

### dist ###
/dist
